@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <br />
    <div class=row>LLene los datos</div><br />
    <form method="post">
        <div class="row">
            <b> @ViewBag.Message </b>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="firstName">Firstname</label>
            <input name="firstName" type="text" class="form-control" id="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Lastname</label>
            <input name="lastName" type="text" class="form-control" id="lastName">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input name="phone" type="text" class="form-control" id="phone">
        </div>
        <div class="form-group">
            <label for="orgname">Organization</label>
            <input name="orgname" type="text" class="form-control" id="orgnames">
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default">Enviar</button>
        </div>

    </form>

</div>